INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/*
src/Makefile
src/Makefile.in
src/knot_protocol.o
src/libknotprotocol.a
src/libknotprotocol.la
libknotprotocol.la
src/knot_protocol.lo
src/knotprotocol.pc
src/.libs
libs/
stamp-h1
